h1,
h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
li {
  padding: 0.25rem 0.25rem;
  display: flex;
  justify-content: flex-start;
  font-size: medium;
  font-weight: 400;
}
.start-button {
  color: black;
  border: 3px solid #dfb4b9;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}
.bordered {
  border: 3px solid #dfb4b9;
  color: #c71c4f;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.25rem;
}
